body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

#map {
	width: 46vw;
	height: 95vh;
}

#point-chart {
	width: 35vw;
  height: 48.5vh;
	
}

#flowline-chart {
	width: 35vw;
	height: 48.5vh;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.card {

	width: 35vw;
	height: 30vh;
}

#flowline-table-container{
  height: 45vh;
  width: 95vw;
}
#point-table-container{
  height: 45vh;
  width: 95vw;
  
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 46vw;
  overflow-y:scroll;
  border: 1px solid #ddd;
}

td , th{
  border-left: 1px solid #ddd;
  text-align: center;
  width: 10vw;
}

tr:nth-child(odd){
  background-color: grey;
}
.scrollable{
	height: 30vh;
	overflow: auto;
}

#legend{
    position:absolute; 
    left:10%; 
    top:10%; 
    z-index:10000; 
    width:5%; 
    height:30%; 
    background-image: url("../img/legends/velocity.png");
    background-size: auto;
    background-repeat: no-repeat;
}

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 1;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
  