cycler==0.10.0
Django==2.2.24
django-lrucache-backend==2.0.0
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
h5py==2.9.0
kiwisolver==1.0.1
lru-dict==1.1.6
matplotlib==3.0.2
mpmath==1.1.0
numpy==1.16.3
pyparsing==2.4.0
pyproj==1.9.6
python-dateutil==2.8.0
pytz==2019.1
scipy==1.2.0
six==1.12.0
sympy==1.4

